{% comment %}{% extends 'base.html' %}{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/user" method="post" >

        {% csrf_token %}

        <p>Please select your Role:</p>
        <input type="radio" id="pitcher" name="role" value="pitcher">
        <label for="pitcher">Pitcher</label><br>
        <input type="radio" id="investor" name="role" value="investor">
        <label for="investor">Investor</label><br>
        <input type="radio" id="contributor" name="role" value="contributor">
        <label for="contributor">Contributor</label>
        <br>

        Enter Email: <input type="text" name="email"><br>
        Enter Password:  <input type="password" name="password"><br>
        <input type="submit" >
    </form>
    <form action="register/register">
        <input type="submit" value="Register">
    </form>

</body>
</html>