<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
    <form action="add_to_database" method="post">
        {% csrf_token %}

        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <p>Please select your Role:</p>
        <input type="radio" id="pitcher" name="role" value="pitcher">
        <label for="pitcher">Pitcher</label><br>
        <input type="radio" id="investor" name="role" value="investor">
        <label for="investor">Investor</label><br>
        <input type="radio" id="contributor" name="role" value="contributor">
        <label for="contributor">Contributor</label>
        <br>
        <input type="submit">
    </form>
</body>
</html>