{% load static %}
<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'users/assets/apple-icon-180x180.png' %}">
  <link href="{% static 'users/assets/favicon.ico' %}" rel="icon">
  <link href="" rel="stylesheet">
  <title>Title page</title>
  <link href="{% static 'users/main.550dcf66.css' %}" rel="stylesheet">
</head>

<body>
    <header>
      <nav class="navbar navbar-default active">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user/home" title="">Pitcher</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/home" title="">Home</a></li>
                <li><a href="/user/home" title="">Project</a></li>
                <li><p><a href="/user/login/" class="btn btn-default navbar-btn" title=""> Login </a></p></li>
                <li><p><a href="/user/signup/" class="btn btn-default navbar-btn" title=""> Sign Up </a></p></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
        {% block content %}{% endblock %}
    </body>
</html>