{% extends "users/base.html" %}
{% block content %}

<div style="display: inline-block;width: 50%;height:100%;border: 2px solid black;text-align: center; margin-left: 25%;">
    <form action="/user/signup/" method="POST">
        {% csrf_token %}
        <div>
            <pre>First name:       <input type="text" name="first_name" placeholder="First Name"> <br/></pre>
            <pre>Last name:        <input type="text" name="last_name" placeholder="Last Name"> <br/></pre>
            <pre>Email:            <input type="text" name="email" placeholder="Email"> <br/></pre>
            <pre>Password:         <input type="password" name="password" placeholder="password"></pre>
            <pre>Confirm Password: <input type="password" name="password" placeholder="confirm password"></pre>
            <pre>Role:  <input type="radio" name="role" value="pitcher" style="margin-left: 60px;"><label for="pitcher"> Pitcher</label><br/></pre>
            <pre>        <input type="radio" name="role" value="investor" style="margin-left: 60px;"><label for="investor"> Investor</label><br/></pre>
            <pre>            <input type="radio" name="role" value="contributor" style="margin-left: 60px;"><label for="contributor"> Contributor</label> <br/></pre>
            {% if message %}
                <p style="font-size: 8px; color: red;">{{ message }}</p>
            {% endif %}
            <pre><input type="submit" value="Sign Up"></pre>
        </div>
    </form>
</div>

{% endblock %}