{% extends "users/base.html" %}
{% block content %}

<div style="text-align: center; align-self: center;">
    <form action="/pitcher/add_details_to_database/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <pre>Pitch Title:      <input type="text" name="title" placeholder="Title"> <br/></pre>
            <pre>Description       <input type="text" name="description" placeholder="description"> <br/></pre>
            <pre>Upload Video      <input type="file" name="video" placeholder="Upload your video"> <br/></pre>
            {% if message %}
                <p style="font-size: 8px; color: red;">{{ message }}</p>
            {% endif %}
            <pre><input type="submit" value="Submit"></pre>
        </div>
    </form>
</div>

{% endblock %}