{% extends "pitcher/base.html" %}
{% block content %}

<div style="text-align: center; align-self: center;width: 50%; margin: 2% 10% 2% 10%;">
    <form action="/pitcher/new_pitch/" method="POST" enctype="multipart/form-data" style="display: inline">
        {% csrf_token %}
        <label>Pitch Title: <input type="text" name="title" placeholder="Title"> </label> <br/>
        <label>Description: <textarea name="description" placeholder="description"></textarea></label> <br/>
        <label>Upload Video: <input type="file" name="video" ></label> <br/>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}