{% extends 'investor/base.html' %}

{% block content %}

        <input type="hidden" id="chatId" value="{{ chatId }}">

        <span>{{ name }}</span>
        <hr>
        <div id="maindiv" style="height: 80%;"></div>

        <div>
            <input type="text" id="messagearea" style="float:left; width:90%; height:5%; ">
            <button id="chatbutton" onclick="sendMessage()" style="width:10%; height:5%;" class="send_btn">Send</button>
        </div>

    <script>
        initiate_chat();
    </script>
{% endblock %}

{% block chat %}
        {% for chat in chats %}
            <div style="border: 1px solid black;">
                <form action="/investor/chat_window/" method="post" >
                {% csrf_token %}
                    <div>
                        <input type="hidden" name="chatId" value="{{ chat.0 }}">
                        <label style="float: left; margin-left:5%;">{{ chat.1 }}</label> <button type="submit" style="float:right; margin-right: 5%;" >Chat</button>
                    </div>
                </form>
                <hr>
            </div>
        {% endfor %}

{% endblock %}